*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .33s;
    font-family: Arial, Helvetica, sans-serif;
}

:root.light {
    --nav-bg: rgb(136, 188, 226);
    --body-bg: rgb(255, 255, 255);
    --color: rgb(31, 20, 20);
    --cog-filter: none;
    --cog-hover-filter: invert(25%);
    --aside-bg: rgb(119, 154, 202);
    --period-bg: rgb(192, 193, 255);
    --project-bg: rgb(229, 97, 97);
    --modal-content-bg: rgb(174, 179, 224);
}

:root.dark {
    --nav-bg: rgb(8, 15, 33);
    --body-bg: rgb(67, 18, 65);
    --color: azure;
    --cog-filter: invert(100%);
    --cog-hover-filter: invert(75%);
    --aside-bg: rgb(21, 38, 82);
    --period-bg: rgb(26, 191, 191);
    --project-bg: rgb(148, 108, 108);
    --modal-content-bg: rgb(0, 45, 128);
}

body {
    background: var(--body-bg);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
}

/* NAV */

nav {
    background: var(--nav-bg);
    color: var(--color);
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

nav>div {
    display: flex;
    align-items: center;
}

nav .logo h1 {
    margin-left: 20px;
}

nav .logo .burger {
    display: none;
}

/* ASIDE */

aside {
    background: var(--aside-bg);
    color: var(--color);
    min-height: calc(100vh - 100px);
    position: relative; 
    padding: 20px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

aside ul {
    list-style: none;
}

aside h2 {
    font-size: 2rem;
    margin: 20px 0;
}

aside .activity button {
    background: var(--period-bg);
    border: none;
    width: 100%;
    text-align: start;
    border-radius: 5px;
    margin: 0 20px 20px 0;
    padding: 10px;
    font-size: 1.25rem;
}

aside #active-sidebar-element {
    border: 3px solid yellow;
    color: azure;
    background-image: url("../images/granular.jpg");
    background-size: cover;
}

aside .projects:last-child {
    margin-bottom: 75px;
}

aside .add-project {
    background-image: url("../images/plus-box-outline.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(251, 251, 252);
    filter: invert(32%) sepia(96%) saturate(558%) hue-rotate(182deg) brightness(94%) contrast(200%);
    border-radius: 10px;
    width: 100%;
    height: 75px;
}

aside .add-project:hover {
    filter: invert(32%) sepia(96%) saturate(558%) hue-rotate(182deg) brightness(94%) contrast(150%);
}

aside .add-project:active {
    transform: scale(.975);
}

aside .project {
    background: var(--project-bg);
    color: azure;
    text-align: center;
    margin: 20px 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside .project h3 {
    margin: 0 10px;
}

aside .project img {
    filter: invert(100%);
    width: 30px;
    height: 30px;
}

/* MAIN */

:root.light {
    --modal-color: rgb(75, 55, 55);
    --no-bg: rgb(87, 233, 102);
    --no-color: rgb(18, 22, 22);
    --no-hover: rgb(82, 218, 96);
    --yes-bg: rgb(246, 149, 149);
    --yes-color: rgb(56, 47, 47);
    --yes-hover: rgb(223, 135, 135);
    --input-bg: rgb(224, 229, 243);
    --label-filter: none;
}

:root.dark {
    --modal-color: azure;
    --no-bg: rgb(2, 14, 68);
    --no-color: azure;
    --no-hover: rgb(1, 1, 20);
    --yes-bg: rgb(105, 11, 11);
    --yes-color: azure;
    --yes-hover: rgb(64, 4, 4);
    --input-bg: rgb(9, 2, 37);
    --label-filter: invert(100%);
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

main .modal {
    background: rgba(66, 43, 43, 0.5);
    color: var(--modal-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    display: none;
}

main .modal .controls button {
    padding: 10px;
    font-size: 1.25rem;
    border-radius: 5px;
    border: none;
}

main .modal .yes {
    background: var(--yes-bg);
    color: var(--yes-color);
}

main .modal .yes:hover {
    background: var(--yes-hover);
}

main .modal .no {
    background: var(--no-bg);
    color: var(--no-color);
}

main .modal .no:hover {
    background: var(--no-hover);
}

main .modal .controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

main .modal button:active {
    transform: scale(.99);
}

main .modal-content {
    background: var(--modal-content-bg);
    border-radius: 10px;
    margin: 100px auto; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

main .create-project-modal {
    text-align: start;
}

main .create-project-modal ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .create-project-modal li {
    display: flex;
    flex-direction: column;
}

main .create-project-modal label {
    font-size: 1.5rem;
}

main .create-project-modal textarea, main .create-project-modal input[type="text"] {
    background: var(--input-bg);
    color: var(--color);
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 5px;
}

main .create-project-modal input[type="file"] {
    width: 0;
    height: 0;
}

main .create-project-modal .image-cover-wrapper {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-self: center;
    position: relative;
}

main .create-project-modal .image-cover-wrapper .remove-image {
    background: rgb(253, 251, 251, .5);
    background-image: url("../images/close.svg");
    background-size: cover;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

main .create-project-modal .image-cover-wrapper .remove-image:hover {
    filter: invert(20%);
}

main .create-project-modal .label-cover {
    background-color: rgb(170, 115, 115, .25);
    background-image: url("../images/upload-image.svg");
    filter: var(--label-filter);
    background-size: cover;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    align-self: center;
}

main .create-project-modal .label-cover:hover {
    background-color: rgb(170, 115, 115, .5);
}

@media screen and (max-width: 480px) {
    body {
        display: block;
        position: relative;
    }

    nav .logo .burger {
        display: flex;
    }

    aside {
        width: 90%;
        min-height: 100%;
        position: absolute;
        transform: translateX(-100%);
        z-index: 1;
    }
}