:root.light {
    --project-name-bg: peachpuff;
    --project-description-bg: rgb(249, 239, 221);
    --project-color: rgb(31, 35, 96);
    --button-filter: none;

}

:root.dark {
    --project-name-bg: rgb(55, 57, 107);
    --project-description-bg: black;
    --project-color: azure;
    --button-filter: invert(100%);
}

.project-item {
    color: var(--project-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-item ul {
    list-style: none;
}

.project-item .info {
    text-align: center;
    display: flex;
    gap: 20px;
    align-self: center;
    align-items: center;
    margin: 20px;
}

.project-item .info .details {
    background: var(--project-name-bg);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}

.project-item .info .details h2 {
    font-size: 1.55rem;
}

.project-item .info .details p {
    background: var(--project-description-bg);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.project-item .info .graphics {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-item .info .graphics img {
    border: 3px solid azure;
    width: 200px;
    border-radius: 30px;
}

.project-item .info .graphics .canvas-container {
    position: relative;
}

.project-item .info .graphics .canvas-container p {
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 2rem;
    width: 6rem;
    height: 6rem;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
}

.project-item .tasks {
    display: flex;
    justify-content: space-around;
}

.project-item .checked-container .remove-all-checked {
    background: rgb(236, 151, 145);
    color: azure;
    padding: 5px;
    margin: 20px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.project-item .checked-container .remove-all-checked:hover {
    background: rgb(212, 131, 128);
}

.project-item .checked-container .remove-all-checked:active {
    transform: scale(.975);
}

.project-item .checked-container .remove-all-checked img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.project-item .checked-container .remove-all-checked p {
    width: 100px;
}

.project-item .add-task {
    background-color: rgb(164, 230, 209);
    background-image: url("../images/plus-box-outline.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 300px;
    width: calc(100% + 10px);
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
}

.project-item .add-task:hover {
    filter: invert(10%);
}

.project-item .add-task:active {
    transform: scale(.975);
}

.project-item .delete-project {
    background-color: transparent;
    background-image: url("../images/delete-outline.svg");
    background-size: contain;
    border: 2px solid rgb(40, 36, 36);
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    filter: var(--button-filter);
}

.project-item .delete-project:hover {
    background-color: rgba(111, 97, 97, 0.25);
}

.project-item .delete-project:active {
    transform: scale(.975);
}

:root.light {
    --modal-content-bg: rgb(174, 179, 224);
    --new-task-notes-bg: rgb(228, 224, 171);
    --new-note-bg: rgb(249, 255, 232);
    --create-bg: rgb(87, 233, 102);
    --create-color: rgb(18, 22, 22);
    --create-hover: rgb(82, 218, 96);
    --filter: none;
}

:root.dark {
    --modal-content-bg: rgb(0, 45, 128);
    --new-task-notes-bg: rgb(13, 36, 57);
    --new-note-bg: rgb(0, 0, 29);
    --create-bg: rgb(2, 14, 68);
    --create-color: azure;
    --create-hover: rgb(1, 1, 20);
    --filter: invert(100%);
}

.project-item .modal {
    background: rgba(66, 43, 43, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-item .modal-content {
    background: var(--modal-content-bg);
    border-radius: 10px;
    margin: 100px auto; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.project-item .modal .variables > li {
    display: flex;
    flex-direction: column;
}

.project-item .modal input[type="date"] {
    width: fit-content;
}

.project-item .modal input[type="text"] {
    background: beige;
    width: 70%;
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 5px;
    border: none;
}

.project-item .modal .variables > li > p, .project-item .modal .variables > li > label {
    font-size: 1.5rem;
    margin-top: 20px;
}

.project-item .modal .choices {
    display: flex;
    text-align: center;
}

.project-item .modal #new-task-high {
    background: rgb(239, 93, 93, .5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project-item .modal #new-task-high:checked {
    background: rgb(239, 93, 93);
    border-top: 1px solid azure;
    border-left: 1px solid azure;
    border-bottom: 1px solid azure;
}

.project-item .modal #new-task-medium {
    background: rgb(235, 241, 7, .5);
}

.project-item .modal #new-task-medium:checked {
    background: rgb(235, 241, 7);
    border-top: 1px solid azure;
    border-bottom: 1px solid azure;
}

.project-item .modal #new-task-low {
    background: rgb(59, 180, 213);
    border-top: 1px solid azure;
    border-right: 1px solid azure;
    border-bottom: 1px solid azure;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

.project-item .modal .choices input[type="checkbox"] {
    appearance: none;
    width: 75px;
    height: 20px;
}

.project-item .modal .choices li {
    display: flex;
    flex-direction: column;
}

.project-item .modal .new-task-notes {
    background: var(--new-task-notes-bg);
    position: relative;
    border-radius: 10px;
    padding: 10px;
}

.project-item .modal .new-task-notes .remove-new-task-note {
    background-color: transparent;
    background-image: url("../images/delete-outline.svg");
    background-size: cover;
    filter: var(--filter);
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: none;
}

.project-item .modal .new-task-notes li {
    background: var(--new-note-bg);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
}

.project-item .modal .new-task-notes .new-task-add-note {
    background-color: transparent;
    border: none;
    background-image: url("../images/plus-box-outline.svg");
    background-size: cover;
    filter: var(--filter);
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.project-item .modal .create {
    background: var(--create-bg);
    color: var(--create-color);
    display: block;
    padding: 10px;
    font-size: 1.25rem;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
}

.project-item .modal .create:hover {
    background: var(--create-hover);
}

.project-item .modal .create:active {
    transform: scale(.99);
}

@media screen and (max-width: 700px) {
    .project-item .tasks {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .project-item {
        padding: 10px;
    }

    .project-item .info {
        flex-direction: column;
    }

    .project-item .info .graphics img {
        width: 150px;
    }

    .project-item .info canvas {
        width: 150px;
        height: 150px;
    }

    .project-item .delete-project {
       top: 10px;
       right: 10px; 
    }
}

/* ... */
#shalom {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
}