.check-container {
  --width: 40px;
  --height: 20px;
  --span-radius: 16px;
  --padding: calc(0.5 * (var(--height) - var(--span-radius)));
  position: relative;
  border-radius: 16px;
  width: var(--width);
  height: var(--height);
}

.check-container * {
  transition: all 0.33s;
}

.check-container input[type="checkbox"] {
  background: rgb(226, 241, 93);
  border-radius: var(--height);
  appearance: none;
  width: 100%;
  height: 100%;
}

.check-container span {
  background: rgb(253, 252, 209);
  background-image: url("../images/sun.svg");
  background-size: cover;
  position: absolute;
  width: var(--span-radius);
  height: var(--span-radius);
  top: var(--padding);
  left: var(--padding);
  border-radius: 50%;
  pointer-events: none;
}

.check-container input[type="checkbox"]:checked {
  background: rgb(100, 136, 154);
}

.check-container input[type="checkbox"]:checked+span {
  transform: translateX(calc(var(--width) - 2 * var(--padding) - var(--span-radius)));
  background: rgb(255, 241, 187);
  background-image: url("../images/night.svg");
  background-size: cover;
  filter: contrast(100%);
  filter: invert(100%);
}